.navbar .container {
  min-height: 6rem;
}

.navbar.is-fresh .navbar-item, .navbar-link {
  color: #003E7B !important;
}

.navbar-item img {
  min-height: 5rem;
  max-width: 100%;
}
  
.divider {
  background-color: #003E7B;
  height: 0.5rem;
  width: 100px;
}

.img-vert-center {
  justify-content: center;
  align-items: center;
  text-align: center; 
  vertical-align: middle;
}

.content-wrapper {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

.portfolio-block {
    position: relative;
  }
  
  .portfolio-block:before {
    transition: all 0.3s ease-in-out;
/*    background: white; */
    opacity: .5;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    position: absolute;
    content: '';
  }
  
  .portfolio-block img {
    width: auto;
    height: auto;
  }
  
  .portfolio-block:hover:before {
    opacity: 1;
  }
  
  .portfolio-block:hover .caption h4 {
    top: 45%;
  }
  
  .portfolio-block:hover .caption {
    opacity: 1;
    top: 55%;
  }
  
  .portfolio-block .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    transition: all 0.2s ease-in-out;
    text-align: center;
  }
  
  .portfolio-block .caption h4 {
    font-size: 24px;
    font-weight: 600;
    color: #fff !important;
  }
  
  .portfolio-block .caption h4 a {
    color: #555;
  }
  
  .portfolio-block .caption .search-icon {
    background: #57cbcc;
    width: 50px;
    height: 50px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
  }
  
  .portfolio-block .caption .search-icon i {
    line-height: 50px;
  }
  