{{- $contact := .Site.Params.contactus }}
{{- $title    := index $contact "title" }}
{{- $subtitle := index $contact "subtitle" }}
{{- $text1    := index $contact "text1" }}
{{- $text2    := index $contact "text2" }}
{{- $text3    := index $contact "text3" }}
<section class="section section-light-grey is-medium" id="contactus">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Contact Us Today</h2>
      <h3 class="subtitle is-5 is-muted">We'd love to hear from you</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="column has-text-centered">
      <p>{{ $text1 }}</p>
      <p>{{ $text2 }}</p>
      <p>{{ $text3 }}</p>
    </div>
    <div class="content-wrapper">
      <div class="columns is-multiline">
        <div class="column is-6 is-offset-3">
          <form name="contact" class="contact-form width-normal" action="/thank-you/" method="POST" data-netlify="true" data-netlify-recaptcha="true">
            <input type="hidden" name="form-name" value="contact" />
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Name"></label>
                <div class="col-md-4">
                    <input id="contact-form-name" name="Name" type="text" placeholder="Name" class="form-control input-md" required="yes" autocomplete="off">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Email"></label>
                <div class="col-md-4">
                    <input id="contact-form-email" name="Email" type="email" placeholder="Email Address" class="form-control input-md" required="yes" autocomplete="off">
                    <input id="contact-form-subject" name="Subject" type="text" value="Submission from the website" hidden="yes" placeholder="Subject" class="form-control input-md" required="" autocomplete="off">
                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for=""></label>
                <textarea class="form-control" id="contact-form-message" name="Message" placeholder="What can we do for you?" required="yes" rows="8"></textarea>
            </div>
            <!-- File upload -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="File"></label>
                <div class="col-md-4">
                    <input id="contact-form-file" name="File" placeholder="" class="input-file" type="file">Max file size 8MB
                </div>
            </div>
            <!-- Recaptcha -->
            <div class="form-group" data-netlify-recaptcha="true"></div>
            <!-- Button -->
            <div class="form-group">
                <button type="submit" value="Submit" id="Form-submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>