{{- $section5 := .Site.Params.section5 }}
{{- $title    := index $section5 "title" }}
{{- $subtitle := index $section5 "subtitle" }}
{{- $text     := index $section5 "text" }}
{{- $image    := index $section5 "image" }}
<section class="section is-medium" id="finishing">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="row img-vert-center">
      <div class="column">
        <p>{{ $text }}</p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
            <img src="{{ $image }}" alt="Description">
        </figure>
      </div>
  </div>
</section>