{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $text     := index $section4 "text" }}
{{- $image    := index $section4 "image" }}
{{- $text1    := index $section4 "text-para1" }}
{{- $text2    := index $section4 "text-para2" }}
{{- $text3    := index $section4 "text-para3" }}
<section class="section is-medium" id="turning">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="column is-5 is-offset-1 img-vert-center">
          <figure class="image is-4by3 img-vert-center">
            <img src="{{ $image }}" alt="Description">
          </figure>
      </div>
      <div class="column has-text-centered">
        <p><strong>{{ $text1 }}</strong></p>
        <p>{{ $text2 }}</p>
        <p>{{ $text3 }}</p>
      </div>
    </div>
  </div>
</section>